#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt { quick-tap-ms = <180>; };
&lt { quick-tap-ms = <180>; flavor = "hold-preferred"; };
&sk { release-after-ms = <2000>; quick-release; lazy; };

/ {
    behaviors {
        ms: mod_sticky { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; tapping-term-ms = <180>; quick-tap-ms = <200>; flavor = "hold-preferred"; bindings = <&kp>, <&sk>; };
        ls: lyr_sticky { compatible = "zmk,behavior-hold-tap"; #binding-cells = <2>; tapping-term-ms = <180>; quick-tap-ms = <200>; flavor = "hold-preferred"; bindings = <&mo>, <&sk>; };
        ms_C_S_kp_S: ms_LCTRL_LSHFT_kp_LSHFT { compatible = "zmk,behavior-tap-dance"; #binding-cells = <0>; bindings = <&ms LCTRL LSHFT>, <&kp LSHFT>; };
    };
    macros {
        macro_power: macro_power { compatible = "zmk,behavior-macro"; #binding-cells = <0>; wait-ms = <100>; bindings = <&kp LG(X)>, <&kp U>; };
    }; 
    keymap {
        compatible = "zmk,keymap";
        layer_0 { bindings = <
&kp GRAVE           &kp N1              &kp N2              &kp N3              &kp N4              &kp N5                  &kp N6              &kp N7              &kp N8              &kp N9              &kp N0              &kp BSLH
&kp EQUAL           &kp Q               &kp W               &kp F               &kp P               &kp B                   &kp J               &kp L               &kp U               &kp Y               &kp SEMI            &kp LBKT
&kp LSHFT           &kp A               &kp R               &kp S               &kp T               &kp G                   &kp M               &kp N               &kp E               &kp I               &kp O               &kp SQT
&kp MINUS           &kp Z               &kp X               &kp C               &kp D               &kp V                   &kp K               &kp H               &kp COMMA           &kp DOT             &kp FSLH            &kp RBKT
                                                            &ls 2 LGUI          &lt 1 SPACE         &ms_C_S_kp_S            &mt LALT SPACE      &ms RSHFT RSHFT
                                                                                &kp LALT            &kp LSHFT               &kp RCTRL >; };
        layer_1 { bindings = <
&kp F12             &kp F1              &kp F2              &kp F3              &kp F4              &kp F5                  &kp F6              &kp F7              &kp F8              &kp F9              &kp F10             &kp F11
&kp C_VOL_UP        &mt LCTRL HOME      &kp BSPC            &kp UP              &kp PG_UP           &kp PG_DN               &kp FSLH            &kp N7              &kp N8              &kp N9              &kp PLUS            &kp C_BRI_UP
&kp C_MUTE          &mt LSHFT ESC       &kp LEFT            &kp ENTER           &kp RIGHT           &kp TAB                 &kp ASTRK           &kp N4              &kp N5              &kp N6              &kp DOT             &kp K_APP
&kp C_VOL_DN        &mt LALT END        &kp DEL             &kp DOWN            &mkp LCLK           &mkp RCLK               &kp INS             &kp N1              &kp N2              &kp N3              &kp MINUS           &kp C_BRI_DN
                                                            &mo 3               &trans              &trans                  &kp CAPS            &kp N0
                                                                                &trans              &trans                  &trans >; };
        layer_2 { bindings = <
&kp TILDE           &kp EXCL            &kp AT              &kp POUND           &kp DLLR            &kp PRCNT               &kp CARET           &kp AMPS            &kp ASTRK           &kp LPAR            &kp RPAR            &kp PIPE
&kp PLUS            &kp LCTRL           &kp F9              &kp F8              &kp F7              &kp F10                 &studio_unlock      &kp PSCRN           &kp C_VOL_UP        &kp SLCK            &kp C_BRI_UP        &kp LBRC
&kp PSCRN           &kp LSHFT           &kp F6              &kp F5              &kp F4              &kp F11                 &macro_power        &kp C_PREV          &kp C_MUTE          &kp C_NEXT          &kp C_PP            &kp DQT
&kp UNDER           &kp LALT            &kp F3              &kp F2              &kp F1              &kp F12                 &key_repeat         &kp K_APP           &kp C_VOL_DN        &kp PAUSE_BREAK     &kp C_BRI_DN        &kp RBRC
                                                            &trans              &mo 3               &mo 4                   &kp LALT            &kp RCTRL
                                                                                &trans              &trans                  &trans >; };
        layer_3 { bindings = <
&none               &none               &none               &none               &none               &none                   &none               &none               &none               &none               &none               &none
&kp C_PREV          &kp LCTRL           &kp PLUS            &kp COLON           &kp ASTRK           &kp BSLH                &kp CARET           &kp AMPS            &kp DQT             &kp SQT             &kp DLLR            &none
&kp C_PP            &kp QMARK           &kp MINUS           &kp EQUAL           &kp GT              &kp PIPE                &kp EXCL            &kp LBRC            &kp LPAR            &kp RPAR            &kp RBRC            &none
&kp C_NEXT          &kp LALT            &kp TILDE           &kp GRAVE           &kp LT              &kp PRCNT               &kp AT              &kp UNDER           &kp LBKT            &kp RBKT            &kp POUND           &none
                                                            &trans              &trans              &trans                  &kp LALT            &kp RCTRL
                                                                                &trans              &trans                  &trans >; };
        layer_4 { bindings = <
&none               &none               &none               &none               &none               &none                   &none               &none               &none               &none               &none               &none
&none               &bt BT_SEL 0        &bt BT_SEL 1        &bt BT_SEL 2        &bt BT_SEL 3        &bt BT_SEL 4            &bl BL_DEC          &rgb_ug RGB_HUI     &rgb_ug RGB_SAI     &rgb_ug RGB_BRI     &rgb_ug RGB_SPI     &none
&none               &none               &bt BT_PRV          &out OUT_TOG        &bt BT_NXT          &bt BT_CLR              &bl BL_TOG          &rgb_ug RGB_EFR     &rgb_ug RGB_TOG     &rgb_ug RGB_EFF     &none               &none
&none               &bt BT_DISC 0       &bt BT_DISC 1       &bt BT_DISC 2       &bt BT_DISC 3       &bt BT_DISC 4           &bl BL_INC          &rgb_ug RGB_HUD     &rgb_ug RGB_SAD     &rgb_ug RGB_BRD     &rgb_ug RGB_SPD     &none
                                                            &none               &bootloader         &none                   &none               &bootloader
                                                                                &none               &none                   &none >; };
    };
    combos { compatible = "zmk,combos";
        left_finger_12_row_4 { require-prior-idle-ms = <(-1)>; layers = <0>; key-positions = <48 49>; bindings = <&ls 3 LALT>; };
        left_finger_01_row_3 { require-prior-idle-ms = <(-1)>; layers = <1>; key-positions = <40 41>; bindings = <&mkp MCLK>; };
    };
};
